.DS_Store
.vscode/**
files/**
app/**
questions/**
raw_data/**
relevant_data/**
stored_embeddings/**
**/output/**
**.pyc
*.npy
**.log
**/__MACOSX/**
debug/**
old/**
tmp/**
wip/**
*.ipynb
junk/**
srt/**
test/**